<div class="home-container">
  <h1>Bienvenido a Kidako</h1>
  <p>
    Kidako es líder en soluciones tecnológicas innovadoras, ofreciendo
    herramientas y servicios personalizados para ayudar a empresas a
    optimizar sus procesos, incrementar su productividad y alcanzar sus
    objetivos.
  </p>
  <p>
    Nuestro enfoque está en la transformación digital, brindando soporte
    técnico y consultoría especializada.
  </p>
  <p>
    Únase a nosotros para ser parte de la innovación tecnológica que está
    transformando el futuro.
  </p>
</div>
