.login-container {
  background: linear-gradient(to bottom right, #1e90ff, #2e2b5f);
  color: white;
  padding: 40px;
  border-radius: 12px;
  max-width: 500px; /* Aumenta el ancho */
  margin: auto;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #add8e6;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #e0e0e0;
}

input {
  width: 95%; /* Ajusta el ancho */
  padding: 8px; /* Tamaño de los campos de entrada */
  margin-bottom: 20px; /* Espacio entre los campos */
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 100%; /* Botón a lo ancho del formulario */
  padding: 12px;
  background-color: #483d8b;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a5acd;
}
