<div class="register-container">
  <h2>Registro de usuario</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="nombre_completo">Nombre completo</label>
    <input type="text" id="nombre_completo" [(ngModel)]="usuario.nombre_completo" name="nombre_completo" required />

    <label for="nombre_usuario">Nombre de usuario</label>
    <input type="text" id="nombre_usuario" [(ngModel)]="usuario.nombre_usuario" name="nombre_usuario" required />

    <label for="correo">Correo electrónico</label>
    <input type="email" id="correo" [(ngModel)]="usuario.correo" name="correo" required />

    <label for="contrasena">Contraseña</label>
    <input type="password" id="contrasena" [(ngModel)]="usuario.contrasena" name="contrasena" required />

    <label for="telefono">Teléfono</label>
    <input type="tel" id="telefono" [(ngModel)]="usuario.telefono" name="telefono" required />

    <button type="submit">Registrarse</button>
  </form>
</div>
